* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-size: 100%;
  }
  
  .card {
    position: relative;
    height: 500px;
    width: 300px;
    background-color: #ecf0f1;
    margin: 60px auto;
  }
  
  .header {
    height: 220px;
    width: 100%;
    background-image: linear-gradient(to top, #4c3b31, #65564c);
    text-align: center;
    margin: 0;
    padding: 16px 0 0 0;
  }
  
  .header img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }

  /*Quitar estilo links*/
  a {
      text-decoration: none;
  }
  
  /*Nombre*/
  .header h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    width: 100%;
    margin: 8px 0; 
  }
  
  /*Cargo*/
  .header p {
    font-family: 'Raleway', sans-serif;
    color: rgb(236, 233, 233);
    font-size: 14px;
  }
  
  .datos{
    font-size: 16px;
    font-weight: 500;
  }
  
  .body {
    font-family: 'Raleway', sans-serif;
    height: auto;
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px;
  }
  
  .body ul {
  }
  
  .body ul li {
    list-style: none;
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: white;
    transition: all .3s ease-in-out;
    position: relative;
    padding: 8px 3em;
    margin: 4px 0;
  }
  
  .body ul li p,
  h3,
  i {
  }
  
  .body ul li h3 {
    top: -10px;
    left: 45px;
    color: #616161;
  }
  
  /*Datos de contacto*/
  .body ul li p {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color: #576574;
  }
  
/*Iconos de datos de contacto*/
  .body ul li i {
    color: #65564c;
    font-size: 25px;
    position: absolute;
    top: 12px;
    left: 12px;
  }
  
  /*Efecto rollover datos de contato*/
  .body li:hover {
    background-color: rgb(238, 230, 224);
    cursor: pointer;
  }
  /*footer*/
  
  .footer {
    height: 80px;
    background-image: linear-gradient(to top, #e2e1e1, #ecf0f1);
  }
  
  .footer ul {
    padding: 28px 16px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .footer ul li {
    display: inline-block;
    padding: 0px 0px; 
  }
  
  .footer ul li i {
    font-size: 25px;
    color: #65564c;
    transition: all .3s ease-in;
  }
  
  .footer ul li:hover i {
    transform: scale(0.9);
    color: #65564c;
    cursor: pointer;
    border-bottom: 2px solid #65564c;
  }

  /***********Prueba de pop up***************/

/*---*/
body, .modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
    visibility: visible;
    font-family: 'Raleway', sans-serif;
} 
.contenedor{
	width: 300px;
	height: 300px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: absolute;
	transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 10px;
	background: #65564c;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}

.titleQr {
    font-family: 'Raleway', sans-serif;
}
.contenido{
	width: 100%;
	padding: 10px; 
}

.contenido img{
  margin-bottom: 50%;
  margin-left: 10%;
  width: 200px;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}

#btn-modal {
  display: none;
}

